.product-availability {
  margin-bottom: 10px;
  -webkit-text-stroke: 1px gray;
  font-size: 20px;
}

.in-stock{
  color: green;
}

.out-of-stock{
  color: red;
}

.almost-sold-out{
  color: yellow;
}
