.button {
  margin: 0 5px;
  padding: 3px 5px;
  background-color: #4CAF50;
  height: 35px;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.product-count {
  width: 13px;
  height: 20px;
  text-align: center;
}

.button-row {
  width: 15px;
}
