<app-header></app-header>
<div class="product-form-container">
    <form #productForm="ngForm" (ngSubmit)="onSubmit(productForm)" class="product-form" ngForm>
        <div class="form-group">
            <label for="image">Image:</label>
            <input [(ngModel)]="product.image" class="form-control" id="image" name="image" required/>
        </div>

        <div class="form-group">
            <label for="title">Title:</label>
            <input [(ngModel)]="product.title" class="form-control" id="title" name="title" required type="text">
            <div
                    *ngIf="productForm.controls.name?.invalid && (productForm.controls.name?.dirty || productForm.controls.name?.touched)"
                    class="invalid-feedback">
                Name is required.
            </div>
        </div>

        <div class="form-group">
            <label for="price">Price:</label>
            <input #priceControl="ngModel" [(ngModel)]="product.price" [class.border-red]="priceControl.invalid && (priceControl.dirty || priceControl.touched)" class="form-control"
                   id="price" name="price"
                   pattern="\d+(\.\d+)?"
                   required type="text">
            <div *ngIf="priceControl.invalid && (priceControl.dirty || priceControl.touched)" class="invalid-feedback">
                Price must be a valid number (integer or fractional).
            </div>
        </div>

        <div class="form-group">
            <label for="inStock">In Stock:</label>
            <input #inStockControl="ngModel" [(ngModel)]="product.stock" [class.border-red]="inStockControl.invalid && (inStockControl.dirty || inStockControl.touched)" class="form-control" id="inStock" name="inStock"
                   pattern="\d+" required
                   type="text">
            <div *ngIf="inStockControl.invalid && (inStockControl.dirty || inStockControl.touched)"
                 class="invalid-feedback">
                In Stock must be a valid integer.
            </div>
        </div>

        <div class="form-group">
            <label for="description">Description:</label>
            <textarea [(ngModel)]="product.description" class="form-control" id="description" name="description"
                      required></textarea>
            <div
                    *ngIf="productForm.controls.description?.invalid && (productForm.controls.description?.dirty || productForm.controls.description?.touched)"
                    class="invalid-feedback">
                Description is required.
            </div>
        </div>

        <button [disabled]="productForm.invalid" class="button" type="submit">Save</button>
    </form>

    <div class="product-image-container">
        <app-product-image [imageUrl]="product.image"></app-product-image>
    </div>
</div>
